[mysqld]
require_secure_transport=OFF
ssl=false
skip_ssl
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci
default_authentication_plugin = mysql_native_password
max_connections = 200
bind-address = 0.0.0.0

